@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

.envelope {
  position: relative;
  width: 800px; /* Increased width for a larger envelope */
  height: 600px; /* Increased height for a larger envelope */
  margin: 50px auto;
  cursor: pointer;
  perspective: 1000px;
  background: url('./love.jpg') no-repeat center center; /* Set background to cover entire container */
  background-size: cover; /* Ensure the background covers the entire container */
  border-radius: 20px; /* Increased border radius for a larger envelope */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.6s ease;
}

.flap {
  position: absolute;
  width: 100%;
  height: 50%;
  background: transparent; /* Set flap background to transparent */
  transform-origin: bottom;
  transition: transform 0.8s ease;
  border-top-left-radius: 20px; /* Increased border radius for a larger envelope */
  border-top-right-radius: 20px; /* Increased border radius for a larger envelope */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the body horizontally and vertically */
  width: 80%; /* Adjust the width as needed */
  height: 70%; /* Adjust the height as needed */
  background-color: transparent; /* Set background color to transparent */
  border-radius: 10px; /* Adjust border radius as needed */
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box;
  z-index: 1; /* Ensure the message appears above the flap */
  overflow-y: auto; /* Enable scrolling if needed */
}


.letter-container {
  position: absolute;
  top: 50%; /* Place the container 50% from the top */
  left: 50%; /* Place the container 50% from the left */
  transform: translate(-50%, -50%); /* Center the container horizontally and vertically */
  width: 80%; /* Adjust the width as needed */
  height: 70%; /* Adjust the height as needed */
  overflow-y: auto; /* Enable scrolling if needed */
}

.letter {
  background: url('./love.jpg') no-repeat center center; /* Set background to cover entire container */
  background-size: cover; /* Ensure the background covers the entire container */
  overflow: hidden;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 20px;
  box-sizing: border-box;
  text-align: justify;
}

.open .flap {
  transform: rotateX(-180deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.letter.fullSize {
  opacity: 1;
}
